body {
	
}

@media screen and (min-width: 1000px) {
    #frames {
    	position: absolute;
    	top: 0; right: 0; bottom: 0; left: 0;
    }

    #browser-frame {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 380px;
        overflow: auto;
    }

    #browser-frame .segment {
        padding:0.25em;
        margin: 0 0 1rem;
    }

    #player-frame {
        position: absolute;
        top: 0; right: 0; left: 381px;
        height: 100px;
    }

    #playlist-frame {
    	position: absolute;
    	top: 101px; right: 0px; bottom: 0px; left: 381px;
    }

    #playlist-frame .playlists {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }

    #playlist-frame .playlists .playlistContent {
        position: absolute;
        top: 46px; right: 0; bottom: 0; left: 1px;
    }

    #playlist-frame .playlists .playlistContent .playlist {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: auto;
    }
}
