body {
	
}

@media screen and (min-width: 1000px) {
    #frames {
    	position: absolute;
    	top: 0; right: 0; bottom: 0; left: 0;
    }

    #player-frame {
    	position: absolute;
    	top: 0; right: 0; left: 0;
    	height: 100px;
    }

    #browser-frame {
    	position: absolute;
    	top: 101px; bottom: 0; left: 0;
    	width: 350px;
    	overflow: auto;
    }

    #playlist-frame {
    	position: absolute;
    	top: 101px; right: 0px; bottom: 0px; left: 351px;
    }
}
